<!doctype html>

<%- include('./partials/head') %>

<html>

    <%- include('./partials/header') %>
    <div class="main">

        <div class="main__card">
            <div class="post__title">
                ABOUT
            </div>
            <div class="post__content">
                Jas0n HUANG

                NJ -&gt; TP -&gt; LYN -&gt; PAR

                NTUA -&gt; LYON II -&gt; Lidemy(The best!) -&gt; 42

                Always learning.
            </div>
        </div>

    </div>

    <%- include('./partials/footer') %>

</html>
