<!doctype html>
<html>

    <div class="main">

    <form method="post" action="/handleAdd">
        <label class="title__label">Title</label>
        <input class="title__input" name="title">
        <textarea class="content__textarea" name="content"></textarea>
        <select class="category" name="categoryId">
            <option value="1">Front-End</option>
            <option value="2">Life</option>
        </select>
        <button type="submit" class="submit__post__btn">POST</button>
    </form>

    </div>

</html>
